{
  "presets": [
    // "@babel/preset-env"
    "@babel/preset-react"
    // "react-app"
  ],
  "plugins": [
    // "@babel/plugin-proposal-class-properties",
    "react-hot-loader/babel",
    [
      "@emotion",
      {
        "importMap": {
          "@mui/system": {
            "styled": {
              "canonicalImport": ["@emotion/styled", "default"],
              "styledBaseImport": ["@mui/system", "styled"]
            }
          },
          "@mui/material/styles": {
            "styled": {
              "canonicalImport": ["@emotion/styled", "default"],
              "styledBaseImport": ["@mui/material/styles", "styled"]
            }
          }
        }
      }
    ]
  ]
}
