@import 'variables.module';

body {
  // background-color: #0b2434;
  background-color: $black;
  font-size: 2rem;
  color: $secondary--text;
  * {
    font-family: $fontBase !important;
  }
}

#app-container,
.container {
  width: 100% !important;
  min-height: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.trade-container {
  width: 100% !important;
  padding-bottom: 4rem;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
  color: $tertiary;
}

.newTab__whitebg {
  background-color: $secondary--bg;
}

.newTab__primarybg {
  background-color: $black;
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
  // gap: 1rem;

  button {
    padding: 5px 10px;
    // margin-inline: 1rem;
  }
}
.col {
  flex-direction: column;
  align-items: flex-start;
}
.two-column {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  width: 100%;
  gap: 2.5rem;
}
.row {
  flex-direction: row !important;
}
.darkbg {
  background: $secondary--bg;
  border-radius: 5px;
  min-width: 120px !important;
  min-height: 50px;
  max-height: 50px;
  width: min-content;
  padding: 5px 10px;
}
.start {
  justify-content: flex-start;
}
.darkbgonly {
  background: $secondary--bg;
  border-radius: 5px;
  padding: 5px 10px;
}
.nobg {
  background: transparent !important;
}
.chart {
  max-height: 150px;
  width: 100%;
}
header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;

  z-index: 10000;

  width: 100%;
  height: 70px;
  padding-inline: 1rem;

  display: flex;
  justify-content: space-between;
  align-items: center;
  color: $primary--text;
  background-color: $primary--bg;

  box-shadow: rgba(0, 0, 0, 0.27) 0px 2px 3px 2px;
  h6 span {
    color: $tertiary2;
  }
}
.select {
  background: $secondary--bg;
}
button {
  border: none;
  border-radius: 6px;

  font-size: 1.2rem;
  font-family: 'Ubuntu', sans-serif;
  cursor: pointer;

  display: flex;
  justify-content: center;
  align-items: center;

  box-shadow: 0 0 0 2px #0000000f;
}
aside button {
  width: 150px;
  background-color: $tertiary !important;
}

button:focus {
  outline: none;
}
button:hover {
  filter: contrast(2);
}

button:active {
  box-shadow: inset 0 0 10px #0000000f;
  transform: scale(0.98);
}
////////////////////////////////////////////////////////////////////////////////////////

.carousel {
  background-color: $secondary--bg;
  background-repeat: no-repeat;
  background-position: center;
  padding-block: 1rem;
  padding-top: 1.2rem;
  position: relative;
  border-radius: 0 0 0.5rem 0.5rem;
  box-shadow: #10172480 0px -50px 36px -28px inset;
  * {
    z-index: 2;
  }
  div.MuiToggleButtonGroup-root {
  }
}

.carousel::before,
.chart-container::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url(../../../assets/img/dots.svg);
  background-repeat: no-repeat;
  background-position: bottom;
  z-index: 0;
  padding: 'relative';

  filter: opacity(0.03) invert(1);
}
.carousel-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 2;
  span {
    font-size: 1.3rem;
  }
}
.trade-container .carousel .darkbg {
  background-color: #070e1710 !important;
}
.carousel-loading {
  justify-content: space-evenly;
  * {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
////////////////////////////////////////////////////////////////////////////////////////////////
.chart-container {
  background-color: $secondary--bg;

  padding: 0;
  margin: 0;
  position: relative;
  border-radius: 0 0 0.5rem 0.5rem;
  box-shadow: #10172480 0px -50px 36px -28px inset;
  div.MuiToggleButtonGroup-root {
  }
}
.chart-container::before {
  z-index: -1;
}

td.css-177gid-MuiTableCell-root {
  background-color: whitesmoke !important;
}

.css-1io93fi {
  width: 100%;
  height: 100%;
}

.coin-container {
  margin: 0;
  padding: 0;
  display: flex;
}
@media screen and (max-width: 768px) {
  .coin-container {
    flex-direction: column;
    align-items: center;
  }
}

.market-data {
  align-self: start;
  padding: 0;
  padding-top: 10px;
  width: 100%;
  @media screen and (max-width: 768px) {
    display: flex;
    justify-content: space-around;
  }
  @media screen and (max-width: 568px) {
    display: flex;
    flex-direction: column;
  }
}

.direction-tag {
  background-color: #6b76884d;
  color: #fff;
  border-radius: 10px;
  padding: 5px 8px;

  font-weight: 700;
  box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.2);
}

*.green {
  color: $tertiary;
}
*.red {
  color: red !important;
}
.grid-item-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  gap: 1rem;
}

.padded {
  padding-inline: 1rem !important;
}

input:-webkit-autofill#mui-1 {
  background-color: unset !important;
  background-image: unset !important;
  color: unset !important;
}
input:autofill#mui-1 {
  background-color: unset !important;
  background-image: unset !important;
  color: unset !important;
}

.search-dropdown {
  position: absolute;
  width: 100vw;
  height: 100vh;
  background: #00000087;

  // opacity: 0;
  padding-top: 6rem;
  left: auto;
  right: auto;
  top: 0;
  z-index: 5;
}
span.css-10hburv-MuiTypography-root,
span.MuiListItemText-primary,
span.css-yb0lig {
  font-family: $fontBase;
  font-weight: 700 !important;
  font-size: 0.8125rem !important;
}

button.MuiPaginationItem-root,
button.MuiPaginationItem-sizeMedium,
button.MuiPaginationItem-text,
button.MuiPaginationItem-circular,
button.MuiPaginationItem-previousNext,
button.css-yuzg60-MuiButtonBase-root-MuiPaginationItem-root {
  font-family: $fontBase;
  color: whitesmoke;
}
button.MuiButtonBase-root {
  font-weight: 600;
}
.css-10h8c1q-MuiGrid-root {
  margin: -10px 0 0 -10px !important;
  display: block;
}

/////////////////////////

g text {
  font-size: 1rem;
}
