$fontBase: 'Ubuntu', sans-serif;
$primary--bg: #101724;
$primary--text: #c5d3e7;
$secondary--bg: #091019;
$secondary--text: whitesmoke;
$tertiary: #11ece5;
$white: #f5f5f5;
$black: #030303;
$lightGray: #e4e4e4;
$gray: #6b7688;
