@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap');

$fontBase: 'Ubuntu', sans-serif !important;
$primary--bg: #101724 !important;
$primary--text: #c0cee2 !important;
$secondary--bg: #070e17 !important;
$light--bg: #1c2a3d !important;
$secondary--text: whitesmoke !important;
$tertiary: #11ece5;
$tertiary2: #b8f7f3 !important;
$white: #f5f5f5 !important;
$black: #030303 !important;
$lightGray: #e4e4e4 !important;
$gray: #6b7688 !important;
$pink: rgb(255, 99, 132) !important;
$blue: #00b8d9;
$purple: #9c27b0;
$yellow: #ede331;

:export {
  fontbase: $fontBase;
  primarybg: $primary--bg;
  primarytext: $primary--text;
  secondarybg: $secondary--bg;
  lightbg: $light--bg;
  secondarytext: $secondary--text;
  tertiary: $tertiary;
  tertiaryalt: $tertiary2;
  white: $white;
  black: $black;
  lightgray: $lightGray;
  gray: $gray;
  pink: $pink;
  blue: $blue;
  purple: $purple;
  yellow: $yellow;
}
